.jumbotron{
    margin-bottom: 0;
}

.vertical-center{
    display: flex;
    align-items: center;
}

.h1{
    align-content: center;
}
.summon-container  {
    background-color: rgb(90, 108, 131);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70vh;
    padding-bottom: 30px;
}

.btn-primary{
    bottom: 100px;
}