.container{
    background-color: red;
    width: 100%;
    position: relative;
}

.jumbotron{
    margin-bottom: 0;
}

.summon-container  {
    background-color: rgb(90, 108, 131);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 70vh;
    padding-bottom: 30px;
}

.btn-primary{
    bottom: 100px;
}