/*colors, bg, icons*/
:root{
    --color-blue: rgb(47, 47, 162);
    --color-white: #fff;
    --color-border-grey: rgb(90, 108, 131);
    --color-body-grey: rgb(169, 169, 169);
    --color-light-grey: #F6F6F6;
    --color-summon-blue: #1089ff;
    --color-summon-highlight: #23374d;
    --bg-landing: url(assets/bg.jpg);
    --bg-title: url(assets/e7logo.png);
}

.w3-red,
.w3-hover-red:hover{color:#fff!important;background-color:#f44336!important}

.menu-hide{
    display: none;
}

.menu-active{
    display: block;
}

/*div class*/
.jumbotron{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -250px 0px;
    background-image: var(--bg-title);
    padding: 10px;
    height: 100px;
    margin-bottom: 0;
    border-radius: 0;
}
.highlight,
.highlight-hover:hover{
    color: var(--color-white) !important;
    background-color: var(--color-blue)!important;
}

.container  {
    display: flex;
    padding: 10px;
    background-color: var(--color-border-grey);
    flex-direction: column;
    min-height: 70vh;
    min-width:70vw;
    opacity: .7;
}
#summon-categories{
    display: flex;
    height: 100%;
    background-color: var(--color-body-grey);
}

.summon-results{
    background-color: var(--color-body-grey);
    padding: 1rem;
    width: 85%;
}

.summon-grid{
    height: calc(100% - 45px);    
    width: 100%;
}

.input-panel{
    justify-content: center;
    display: flex;
    height: 45px;
    width: 100%;
}

.button{
    background-color: var(--color-summon-highlight);
    border: none;
    color: var(--color-white);
    text-align: center;
    border-radius: 8px;
    width: 170px;
}
.button:hover{
    background-color: var(--color-summon-blue);
    color: var(--color-white);
}


.sidebar {
    height:70vh;
    width:15%;
    z-index:1;
    background-color: var(--color-light-grey);
}


section{
    height: 100vh;
    padding-top: 5vh;
    background-image: var(--bg-landing);
    animation: banner-scroll 60s ease-in-out infinite;
    transition: all .2s ease;     
}

@keyframes banner-scroll {
    0% { background-position-y: 10%; }
    50% { background-position-y: 90%; }
    100% { background-position-y: 10%; }
}